In [1]:
>>pip install pandas

Note: you may need to restart the kernel to use updated packages.

'C:\Users\maol' is not recognized as an internal or external command,
operable program or batch file.

In [2]:
import pandas as pd

In [17]:
import csv

In [29]:
with open('datas/user_data.csv') as file_csv:
    user_data_csv = csv.reader(file_csv)
    next(file_csv)
    
    count = 0
    
    for row in user_data_csv:
     
            print(row)

            if count > 5:
                break
            count += 1

['Lynne', 'Hudson', '37', 'Female', 'Subaru', 'Forte', '1993', 'Convertible']
['Justin', 'Walker', '29', 'Male', 'Toyota', 'Continental', '2012', 'Sedan']
['Maria', 'Jones', '66', 'Female', 'Mitsubishi', 'Yukon XL 2500', '2014', 'Van/Minivan']
['Samantha', 'Norman', '19', 'Female', 'Aston Martin', 'Silverado 3500 HD Regular Cab', '1995', 'SUV']
['Barry', 'Gray', '83', 'Male', 'Dodge', 'Aventador', '2019', 'Coupe']
['Anthony', 'Young', '19', 'Male', 'Volvo', 'Viper', '2017', 'Coupe, Sedan']
['Olivia', 'Reid', '51', 'Female', 'Jaguar', 'RX', '2020', 'Hatchback']

In [2]:
import json

In [5]:
with open('datas/user_data.json') as file_json:
    user_data_json = json.load(file_json)
    
    count = 0

    for row in user_data_json:
        print(row)

        if count > 5:
            break
        count += 1

{'firstName': 'Nicholas', 'lastName': 'Spencer', 'age': 71, 'iban': 'GB43YKET96816855547287', 'credit_card_number': '2221597849919620', 'credit_card_security_code': '646', 'credit_card_start_date': '03/18', 'credit_card_end_date': '06/26', 'address_main': '462 Marilyn radial', 'address_city': 'Lynneton', 'address_postcode': 'W4 0GW'}
{'firstName': 'Gregory', 'lastName': 'Knowles', 'age': 91, 'iban': 'GB53QKRK45175204753504', 'credit_card_number': '4050437758955103343', 'credit_card_security_code': '827', 'credit_card_start_date': '11/21', 'credit_card_end_date': '01/27', 'address_main': '366 Brenda radial', 'address_city': 'Ritafurt', 'address_postcode': 'NE85 1RG'}
{'firstName': 'Jane', 'lastName': 'Kirk', 'age': 43, 'iban': 'GB89YUVB38793083550207', 'credit_card_number': '180042313303517', 'credit_card_security_code': '736', 'credit_card_start_date': '03/18', 'credit_card_end_date': '09/23', 'address_main': 'Studio 3 Robin viaduct', 'address_city': 'New Patrickborough', 'address_postcode': 'DE9 0PE'}
{'firstName': 'Reece', 'lastName': 'Wilson', 'age': 20, 'iban': 'GB95SWFW76559273696664', 'credit_card_number': '376608579872611', 'credit_card_security_code': '136', 'credit_card_start_date': '03/18', 'credit_card_end_date': '06/28', 'address_main': 'Flat 44 Holt mountains', 'address_city': 'Lake Debra', 'address_postcode': 'N8 7UE', 'debt': {'amount': '15720.55', 'time_period_years': 4}}
{'firstName': 'Jeffrey', 'lastName': 'Howard', 'age': 53, 'iban': 'GB30BONM86467522928720', 'credit_card_number': '3577140169412773', 'credit_card_security_code': '042', 'credit_card_start_date': '04/16', 'credit_card_end_date': '09/23', 'address_main': '987 Lambert club', 'address_city': 'Lloydburgh', 'address_postcode': 'OX46 5RB'}
{'firstName': 'Susan', 'lastName': 'Davies', 'age': 68, 'iban': 'GB31DWEB00784418470773', 'credit_card_number': '567114835570', 'credit_card_security_code': '782', 'credit_card_start_date': '01/22', 'credit_card_end_date': '08/26', 'address_main': '38 Webster landing', 'address_city': 'South Scottborough', 'address_postcode': 'CO80 5ZZ'}
{'firstName': 'Jodie', 'lastName': 'Robinson', 'age': 77, 'iban': 'GB43ZNIB14917027867786', 'credit_card_number': '676202388168', 'credit_card_security_code': '966', 'credit_card_start_date': '09/16', 'credit_card_end_date': '01/30', 'address_main': '43 Hill shore', 'address_city': 'North Angelaside', 'address_postcode': 'W1D 4TR'}

In [31]:
import xml.etree.ElementTree as e

In [32]:
with open('datas/user_data.xml') as file_xml:
    tree = e.parse(file_xml)
    
    root = tree.getroot()

    count = 0

    for row in root:
        print(row.tag, row.attrib)

        if count > 5:
            break
        count += 1

user {'firstName': 'Iain', 'lastName': 'Dixon', 'age': '64', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'single', 'salary': '56185', 'pension': '0', 'company': 'Hudson PLC', 'commute_distance': '14.1', 'address_postcode': 'G2J 0FH'}
user {'firstName': 'Jayne', 'lastName': 'Wilson', 'age': '69', 'sex': 'Female', 'retired': 'False', 'dependants': '1', 'marital_status': 'divorced', 'salary': '36872', 'pension': '0', 'company': 'Wall, Reed and Whitehouse', 'commute_distance': '10.47', 'address_postcode': 'TD95 7FL'}
user {'firstName': 'Holly', 'lastName': 'Pope', 'age': '55', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '93150', 'pension': '0', 'company': 'Jones PLC', 'commute_distance': '19.59', 'address_postcode': 'W2U 0FT'}
user {'firstName': 'Rebecca', 'lastName': 'Carter', 'age': '72', 'sex': 'Female', 'retired': 'False', 'dependants': '3', 'marital_status': 'married or civil partner', 'salary': '33947', 'pension': '0', 'company': 'Jarvis and Sons', 'commute_distance': '9.84', 'address_postcode': 'NR5R 6JQ'}
user {'firstName': 'Carly', 'lastName': 'Nicholson', 'age': '28', 'sex': 'Female', 'retired': 'False', 'dependants': '1', 'marital_status': 'married or civil partner', 'salary': '80933', 'pension': '0', 'company': 'Coleman, Daniels and Wilson', 'commute_distance': '17.92', 'address_postcode': 'M6 1QS'}
user {'firstName': 'Guy', 'lastName': 'Parker', 'age': '60', 'sex': 'Male', 'retired': 'False', 'dependants': '1', 'marital_status': 'married or civil partner', 'salary': '39507', 'pension': '0', 'company': 'Collins-Ali', 'commute_distance': '11.01', 'address_postcode': 'E28 5YN'}
user {'firstName': 'Brandon', 'lastName': 'Collins', 'age': '32', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'single', 'salary': '62774', 'pension': '0', 'company': 'Hamilton, Roberts and Graham', 'commute_distance': '15.19', 'address_postcode': 'LU9X 4BG'}

In [4]:
tree = e.parse('datas/user_data.xml')
root = tree.getroot()

count = 0

for row in root:
    print(row.attrib['firstName'])

    if count > 5:
        break
    count += 1

Iain
Jayne
Holly
Rebecca
Carly
Guy
Brandon

In [8]:
from pony.orm import *

ModuleNotFoundError: No module named 'pony'

In [9]:
!pip install pony

Collecting pony
  Using cached pony-0.7.16-py3-none-any.whl (313 kB)
Installing collected packages: pony
Successfully installed pony-0.7.16

In [10]:
from pony import orm