In [4]:
from pony import orm

In [5]:
with orm.db_session:
    def def_linked_entity(User, Vehicle, Finance, Combined):
           Combined_data = orm.select(
                "(U.id, U.First_Name, U.Last_Name, U.age, U.Sex, U.Retired, U.Dependants, U.Marital_status, U.Salary, U.Pension, U.Company, U.Commute_distance, U.Address_postcode, V.Vehicle_Make, V.Vehicle_Model, V.Vehicle_Year, V.Vehicle_Type, F.iban, F.credit_card_number, F.credit_card_security_code, F.credit_card_start_date, F.credit_card_end_date, F.address_main, F.address_city)for U in User for V in Vehicle for F in Finance if U.First_Name == V.First_Name == F.First_Name and U.Last_Name == V.Last_Name == F.Last_Name")
            
           count = 0
            
           for row in Combined_data:
           
                Combined(
                    User_Id = row[0],
                    First_Name = row[1],
                    Last_Name = row[2],
                    age = row[3],
                    Sex = row[4],
                    Retired = row[5],
                    Dependants = row[6],
                    Marital_status = row[7],
                    Salary = row[8],
                    Pension = row[9],
                    Company = row[10],
                    Commute_distance = row[11],
                    Address_postcode = row[12],
                    Vehicle_Make = row[13], 
                    Vehicle_Model = row[14], 
                    Vehicle_Year = row[15], 
                    Vehicle_Type = row[16],
                    iban = row[17],
                    credit_card_number = row[18],
                    credit_card_security_code = row[19],
                    credit_card_start_date = row[20], 
                    credit_card_end_date = row[21], 
                    address_main = row[22], 
                    address_city = row[23],
                            )
                
                if count > len(Combined_data):
                    break
                count += 1